<h4>Select CSV file</h4>
<ng-csv-import
        class="import"
        content="csv.content"
        header="csv.header"
        header-visible="csv.headerVisible"
        separator="csv.separator"
        separator-visible="csv.separatorVisible"
        result="csv.result"
        upload-button-label="csv.uploadButtonLabel"></ng-csv-import>

<ul ng-if="csv.result">

    <li ng-repeat="row in csv.result" style="height: 250px; width: 400px">
        {{columns(row)['header']}}
        
        <canvas id="line" class="chart chart-line" chart-data="columns(row)['values']"
                chart-labels="columns(row)['labels']">
        </canvas>

    </li>
</ul>

